altair ==4.2.0                                       
bokeh ==2.4.3                                                                                      
folium == 0.13.0                                                         
importlib-metadata ==4.12.0                   
importlib-resources==5.10.0                                     
matplotlib ==3.6.0                                       
numpy == 1.23.3                   
openpyxl ==3.0.10                                                     
pandas ==1.4.4                    
pandas-bokeh== 0.5.5                                      
plotly==5.10.0                                                                                              
seaborn==0.12.0                                               
streamlit==1.12.2                  
streamlit-folium ==0.6.15                   
streamlit-option-menu ==0.3.2                                                         
toml==0.10.2                   
   
